<body>
  <div class=f-message><%= flash[:success] %></div>
  <h1>Editing Book</h1>
  <%= render 'layouts/error_messages' %>
  <%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
    <div class=field>
      <label>title</label>
      <%= f.text_field :title %>
    </div>
    <div class=field>
      <label>body</label>
      <%= f.text_area :body%>
    </div>
    <div class=action>
      <%= f.submit 'Update Book' %>
    </div>
  <% end %>
  <%= link_to "show", book_path(@book.id) %>
  |
  <%= link_to "back", "/books" %>
</body>